/* Font-styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.white{
    color: white;
}


/* 1st section- hero section */
.sec-1{
    height:700px;
    width: 1500px;
    background-image: url("../Assets/Hero-bg.png");


}
.logo{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight: bolder;
    margin-left: 150px;
}
.nav-btn{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius:10px;
    padding: 0px 70px;
    color:white;
    font-weight:bold;
    font-size: 20px;
}
nav{ 
    display: flex;
    gap:900px;
    padding:50px;   
}
.banner{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
}
.banner-title{
    color:#252432 ;
    font-size: 65px;
    font-weight:bold;
    text-align: center;
}
.banner-btn{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius:10px;
    padding: 12px 36px;
    color:white;
    font-weight:700px;
    font-size: 20px;
}

/* 2nd section-action sections */
.action-image{
    border-radius: 48px ;
}
.sec-2{display:flex;
    justify-content: center;
    gap:220px;
    margin: 120px 220px;

}
.action-title{
    font-size: 42px;
    font-weight: bold;

}
.action-text{
    font-size: 24px;
    font-weight: 400px;

}
.launch-btn{
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius:10px;
    padding: 12px 36px;
    color:white;
    font-weight:bold;
    font-size: 16px;

}
/* third section: action section */
.sec-3{
   
    border-radius: 24px;
    margin: 161px;
    padding-bottom: 20px;
    background-color: rgba(78, 71, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.user-stat{
     display: flex;
     margin:auto ;
     padding: 0px;
     gap: 158px ;
}
.user-title{
    font-size: 38px;
    font-weight: 800px;
    color: #252432;
}
.user-data{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);


}
.user-sub{
     font-size: 30px;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
   

}
/* section#5 form-section */
.sec-5{
    background-color: rgba(78, 71, 255, 0.1);
    margin-top: 250px;
    padding-top: 120px;
    padding-bottom: 180px;
    display: flex;
    justify-content:center;
    align-items: center; 
}


.form-title{
    width: 50%;
    font-size: 97px;
    font-weight: bold;
    color: #252432;
    align-content: center;
    justify-content: center;
    margin-left: 200px;
}
.form{
   /* width:70%; */
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 200px;
    

    
}

input { 
    height:70px ;
    width:400px;
    border-radius: 10px;
    display:block;
    margin-bottom: 20px;
    font-size: 1.5em;
  
}
textarea{
    height:70px ;
    width:400px;
    border-radius: 10px;
    display:block;
    margin-bottom: 20px;
    font-size: 1.2em;
}
textarea::placeholder {
    padding-top: 15px;
  font-size: 1.5rem; 
  color: #888;       
}
label{
    font-size: 12px;
    font-weight:bold;
}
.git-btn{
    height:70px ;
    width:400px;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    border-radius:10px;
    color:white;
    font-weight:bold;
    font-size: 20px;
}
/* section#4 users say */

.sec-4-title{
    font-size: 42px;
    font-weight: bold;
    margin: 0px 520px;
}

.card-hold{ width: 1140px;
    height: 243px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px 150px 0px;
   
}

.card{ display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 48px;
    width: 360px;
    height: 265px;
    border-radius:14px;
    background-color: rgb(244, 245, 246); 
    
}
.avatar{
    display:flex;
    flex-direction:block;
    flex-direction: column;
}
.cardsec-3{
    display: flex;
    gap: 12px;
 
    
}
.avt-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.ele-title{
    font-size: 24px ;
    font-weight:bold;
    padding-bottom:10px;
}
.ele-subtitle{
    font-size: 24px ;
    color: rgba(30, 30, 30, 1)
    
}
.avatar-name{
      font-size: 18px ;
      font-weight: bold;
    color: rgba(117, 117, 117, 1);

}
.avatar-date{
      font-size: 18px ;
    color:rgba(179, 179, 179, 1);
}
/* footer section */

.footer-logo{
    font-size:50px ;
    font-weight:bold ;
    color:rgba(78, 71, 255, 1);
    margin:0px;
    
}
.footer-text .foot-col{
    font-size:16px;
    font-weight: 500px;
    font-weight:lighter ;
    color: rgba(96, 96, 100, 0.118);
}
.footer-last{
    display: flex;
    flex-direction: row;
    gap: 48px;
}
footer{
    display: flex;
    flex-direction:column;
    gap:40px;
    justify-content: center;
    align-items: center;
    padding:150px;
}